*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    color: white;
}
#bada
{
    height: 100vh;
    width: 100vw;
    background-color: rgb(82, 49, 49);
    position: relative;
}
#chota
{
    height: 700px;
    width: 800px;
    background-color: black;
    position: absolute;
    left: 27%;
    top: 1.2%;
    border-radius: 20px;
}
#chota p
{
    margin-top: 5px;
    margin-left: 5px;
}
#chota #simmi
{
    height: 500px;
    width: 400px;
}
#chota button{
    height: 100px;
    width: 300px;
    position: absolute;
    right: 6%;
    bottom: 2%;
    background-color: black;
    border-radius: 20px;
    border-color: black;
    color: white;
}